<p-toolbar>
  <div class="p-toolbar-group-left">
    <button (click)="openMenu()"><i class="pi pi-bars"></i></button>
    <span>Witamy w naszej wypożyczalni dziwki</span>
  </div>
  <div class="p-toolbar-group-right">
    <span> Zalogowany jako: {{ user.toUpperCase() }}</span>
    <span><a (click)="logout()">Wyloguj</a></span>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="opened" [baseZIndex]="10000">
  <nav class="navigation__wrapper">
    <a routerLink="/">Strona główna</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/boardGames">Gry planszowe</a>
    <a routerLink="/contact">Kontakt</a>
  </nav>
</p-sidebar>



